table 
{
    margin:10px;
    width:99%;
}

table {
    text-align: center;
}

.listFilter {
    width: 70px;
}

table tr.active {
    background-color: khaki;
}

table img.edit-icon {
    height: 17px;
}